# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# WAV files (except canary.wav)
*.wav
!canary.wav

# Generated images (except canary examples)
*_ifdgram.png
*_sonogram.png
ifdv_example.png
!canary_sono.png
!canary_ifd.png

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
